In [16]:
import requests
import json
from json import JSONDecodeError
import pandas as pd
from pandas import json_normalize
import numpy as np

In [62]:
url = ("https://datausa.io/api/data?drilldowns=State&measures=Population")
response = requests.get(url)
json = response.json()
df = pd.json_normalize(data = json, record_path = ["data"])
df

      ID State          State  ID Year  Year  Population     Slug State
0    04000US01        Alabama     2020  2020     4893186        alabama
1    04000US02         Alaska     2020  2020      736990         alaska
2    04000US04        Arizona     2020  2020     7174064        arizona
3    04000US05       Arkansas     2020  2020     3011873       arkansas
4    04000US06     California     2020  2020    39346023     california
..         ...            ...      ...   ...         ...            ...
411  04000US53     Washington     2013  2013     6819579     washington
412  04000US54  West Virginia     2013  2013     1853619  west-virginia
413  04000US55      Wisconsin     2013  2013     5706871      wisconsin
414  04000US56        Wyoming     2013  2013      570134        wyoming
415  04000US72    Puerto Rico     2013  2013     3682966    puerto-rico

[416 rows x 6 columns]

TWO descriptive statistics about data.

In [86]:
avg_population = mean(df["Population"])
print("The average state population for all years is " + str(avg_population) + "")

total_population = sum(df["Population"])
print("The total state population for all years is " + str(total_population) + "")

The average state population for all years is 6210951.401442308
The total state population for all years is 2583755783

Pandas query to select a particular set of data.

In [117]:
new_data = df.query("State == 'Kentucky'")
print(new_data)

      ID State     State  ID Year  Year  Population Slug State
17   04000US21  Kentucky     2020  2020     4461952   kentucky
69   04000US21  Kentucky     2019  2019     4449052   kentucky
121  04000US21  Kentucky     2018  2018     4440204   kentucky
173  04000US21  Kentucky     2017  2017     4424376   kentucky
225  04000US21  Kentucky     2016  2016     4411989   kentucky
277  04000US21  Kentucky     2015  2015     4397353   kentucky
329  04000US21  Kentucky     2014  2014     4383272   kentucky
381  04000US21  Kentucky     2013  2013     4361333   kentucky

Select and Print second and third columns of data

In [118]:
new_data.iloc[:, [1,2]]

        State  ID Year
17   Kentucky     2020
69   Kentucky     2019
121  Kentucky     2018
173  Kentucky     2017
225  Kentucky     2016
277  Kentucky     2015
329  Kentucky     2014
381  Kentucky     2013

Select and print first four rows of data

In [120]:
new_data.head(4)

      ID State     State  ID Year  Year  Population Slug State
17   04000US21  Kentucky     2020  2020     4461952   kentucky
69   04000US21  Kentucky     2019  2019     4449052   kentucky
121  04000US21  Kentucky     2018  2018     4440204   kentucky
173  04000US21  Kentucky     2017  2017     4424376   kentucky